<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Kyle Snavely</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/blog.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

  </head>

  <body>

      {% include 'topbar.html' %}

      <div class="blog-header">
        <h1 class="blog-title">kdevops</h1>
        <p class="lead blog-description">Admins can post new content using the form below.</p>
      </div>

        <div class="container">
      
      <div class="row">
        <div class="col-sm-8 blog-main">
        	 <form method="post" action="{{ url_for('create_post_submit') }}" id="create_post_form">
                  <label>Post title:</label><input type="text" class="create-post-form" name="title" placeholder="title..." /><br />
                  <label>Author:</label><input type="text" class="create-post-form" name="author" value="{{ current_user.id }}" /><br />
		  <label>Post content:</label><textarea form ="create_post_form" placeholder="text..." name="text" id="text" cols=40 rows=8 wrap="soft" class="create-post-form"></textarea><br />
                  <label>Tags:</label><input type="text" class="create-post-form" name="tags" placeholder="comma separated tags..." /><br />
                 <center><input type="submit" class="form-submit create-post-form-submit" value="Create Post"/></center>
			</form>
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
<a href="https://github.com/ksnavely"><img style="margin: 0 auto; display: block;" src="{{ url_for('static',filename='images/octocat.png') }}" /></a>
          </div>
          <div class="sidebar-module">
<a href="rockfall/"><img style="margin: 0 auto; display: block;" src="{{ url_for('static',filename='images/rockfall_icon.png') }}" /></a>
          <div><center>Would you like to play a game?</center></div>
          </div>
          <div class="sidebar-module">
<a href="https://www.linkedin.com/pub/kyle-snavely/70/882/37"><img style="margin: 0 auto; display: block;" src="{{ url_for('static',filename='images/linkdin.png') }}" /></a>
          </div>
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>I'm a devops engineer and former nuclear physicist. My passion is software engineering -- Erlang, Python, distributed systems, infrastructure as code, and oh, roguelikes too.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="?date=2016-03">March 2016</a></li>
              <li><a href="?date=2016-04">April 2016</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
        </div>

       <footer style="border: none">
         <center>
           <p style="font-size:0.8em">&copy; Kyle Snavely 2016</p>
         </center>
       </footer>
  </body>
</html>
