<html>
  <head>
    <title>Kyle Snavely</title>
  </head>
  <body>
      <div style="margin:0 auto; text-align:center; width: 800px; height: 600px; border: 1px solid black;">
          <div style="display: block; height: 80px; border-bottom: 1px solid black">
              Kyle Snavely
          </div>
          <div style="display: block; height: 520px">
          <div style="width: 530px; float: left; border-right: 1px solid black; height: 100%; position: relative;">
              Photo
          </div>
          <div style="display: inline-block; text-align:center">
          GitHub<br />
          LinkdIn<br />
          </div>
          </div>
      </div>
  </body>
</html>
