<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Kyle Snavely</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/style.css') }}">
    
    <script type="text/javascript" src="jquery-2.0.0.min.js"></script>
    <script type="text/javascript">
      var RFall = function () {}
    </script>
    <script src="{{ url_for('static',filename='js/rockfall/resources.js') }}"></script>
    <script src="{{ url_for('static',filename='js/rockfall/Mineshaft.js') }}"></script>
    <script src="{{ url_for('static',filename='js/rockfall/Cage.js') }}"></script>
    <script src="{{ url_for('static',filename='js/rockfall/Rocks.js') }}"></script>
    <script src="{{ url_for('static',filename='js/rockfall/Player.js') }}"></script>
    <script src="{{ url_for('static',filename='js/rockfall/EffectsManager.js') }}"></script>
    <script src="{{ url_for('static',filename='js/rockfall/Effect.js') }}"></script>
    <script src="{{ url_for('static',filename='js/rockfall/app.js') }}"></script>
    <script src="app.js"></script>
    <style type="text/css">
      canvas { border: 2px solid black; }
      body { background-color: #252525; color: #FFFFFF; }
      #controls { max-width:400px }
      #title { text-align: center; font-weight: bold; }
      #main-table {margin-left: auto; margin-right: auto}
    </style>

  </head>

  <body>
  <body onload="RFall.init();">
    <table id="main-table">
      <tr><td id="controls">
            <h2 id="title">Rockfall!</h2>
            <p>
              <h4>Controls:</h4>
              <ul>
                <li>Left/Right arrows: go left/right</li>
                <li>s: Super science slow mo'</li>
                <li>p: Pause</li>
                <li>n: New game</li>
              </ul>
            </p>
              <h4>Info:</h4>
            <p>
            Survive until the timer runs out to win. The game will get harder, starting at level 1, although if you die you'll drop to level 0. You begin with two hearts and lose one if struck by a rock. If you are struck with no hearts, you will die.
            </p>
          </td>
          <td><canvas id="gameCanvas" width="500" height="500"></canvas></td>
      </tr>
    </table>
  </body>
</html>
